@model demo.Models.Cart
@{
    ViewBag.Title = "ShowtoCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="test">
    <div class="header-top-cart-box header-top-modal">
        <span class="box-triangle">
            <svg viewBox="0 0 20 9" role="presentation">
                <path d="M.47108938 9c.2694725-.26871321.57077721-.56867841.90388257-.89986354C3.12384116 6.36134886 5.74788116 3.76338565 9.2467995.30653888c.4145057-.4095171 1.0844277-.40860098 1.4977971.00205122L19.4935156 9H.47108938z"
                      fill="#ffffff"></path>
            </svg>
        </span>
        <div class="box-heading">giỏ hàng</div>
        <!-- giỏ hàng trống -->
        <!-- <div class="box-cart-empty">
                  <svg width="81" height="70" viewBox="0 0 81 70"><g transform="translate(0 2)" stroke-width="4" stroke="#1e2d7d" fill="none" fill-rule="evenodd"><circle stroke-linecap="square" cx="34" cy="60" r="6"></circle><circle stroke-linecap="square" cx="67" cy="60" r="6"></circle><path d="M22.9360352 15h54.8070373l-4.3391876 30H30.3387146L19.6676025 0H.99560547"></path></g></svg>
                 <div>Giỏ hàng của bạn đang trống</div>
                </div> -->
        <div class="box-item-cart">           
            @if (Model != null)
            {
                foreach (var item in Model.Items)
                {

                    double total = Convert.ToDouble(item._shopping_clothe.Price.Value * item._shopping_quantity);
                    <div class="item-cart-product">
                        <img src="@item._shopping_clothe.Imgcover" class="item-cart-product-img" />
                        <div class="item-cart-info">
                            <div class="cart-info-item">
                                <p class="info-item-title">@Html.DisplayFor(Model => item._shopping_clothe.ClotheName)</p>
                                <div class="info-item-delete">X</div>
                            </div>
                            <div class="cart-info-item">
                                <div class="info-item-amount">@Html.DisplayFor(Model => item._shopping_quantity)</div>
                                <div class="info-item-pice">@Html.DisplayFor(Model => item._shopping_clothe.Price)₫</div>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
        <div class="box-payment">
            <div class="box-payment-item">
                <div class="payment-text payment-item-top">tổng tiền:</div>
                <div class="payment-total payment-item-top">2,260,000₫</div>
            </div>
            <div class="box-payment-item">
                <button type="button"
                        class="button-hover box-view-cart box-payment-button">
                    xem giỏ hàng
                </button>
                <button type="button"
                        class="button-hover box-make-payment box-payment-button">
                    thanh toán
                </button>
            </div>
        </div>
    </div>
</div>

@*@if (Model != null)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Image</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Sum</th>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            double total = Convert.ToDouble(item._shopping_clothe.Price.Value * item._shopping_quantity);
                            <tr>
                                <td>
                                    @Html.DisplayFor(Model => item._shopping_clothe.ClotheName)
                                </td>
                                <td>
                                    <img src="@item._shopping_clothe.Imgcover"/>
                                </td>
                                <td>
                                    @Html.DisplayFor(Model => item._shopping_clothe.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(Model => item._shopping_quantity)
                                </td>
                                <td>
                                    Total : @total
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }*@